@import 'philly-styles/values';


body {
    font-family: $philly-serif;
    margin: 0 auto;
}

.graphicWrapper {
  padding: 25px 10px;
  margin: 20px auto;
  // border-top: 3px solid #eee;
  // border-bottom: 3px solid #eee;
  max-width: 728px;
}

.heading {
  margin: 10px 0;
  font-size: 24px;
  font-family: GothamXNarrow-Black, $philly-sans;
}

.description {
  padding: 0;
  margin: 0;
  font-family: $philly-sans;
  font-size: 16px;
  line-height: 1.3rem;
}

.source {
    font-size: 13px;
    font-family: $philly-sans;
    color: $philly-gray;
}

.credit {
  text-align: right;
}

.credits
{
  display:grid;
  grid-template-columns: auto 40px auto;
}

.axislabel {
    font-size: 12px;
    color: #333;
    font-family: $philly-sans;
}

nav
{
  display: grid;
  grid-template-columns: auto 40px auto;

  div
  {
    text-align: center;
    font-size: 16px;

    font-weight: bold;
  }

}

figure
{
  margin: 0px;
  width: 100%;
  height: 200px;
  @media( min-width: 500px )
  {
      height: 300px;
  }
}



$colorA: #009C8A;
$colorB: #FC5F2A;


svg
{

  circle
  {
    transition: all .3s;
  }

  circle:nth-child(1)
  {
      fill: $colorA;
  }

  circle:nth-child(2)
  {
    fill: $colorB;
    mix-blend-mode: multiply;
  }


  line
  {
    stroke: #DDD;
  }

  text
  {
    text-align: center;
    text-transform: uppercase;
    text-anchor: middle;
    font-weight: 100;
    font-size: 12px;
    fill: #FFF;
    letter-spacing: 2px;

    font-family: $philly-serif;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    transition: all .3s;

    &.offset
    {
      &:nth-of-type(1)
      {
        fill: $colorA;
      }

      &:nth-of-type(2)
      {
        fill: $colorB;
      }
    }


    tspan
    {

    }

    tspan:nth-child(2)
    {
      font-family: $philly-sans;
      font-weight: 900;
      font-size: 16px;

    }

  }

}



select
{
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  background: none;

  font-family: $philly-serif;

  border-bottom: 2px dotted $philly-gray;
  border-radius: 0px;



  &.temp
  {
    display: none;
  }


  &+.dropdown
  {
    color:red;
    position: relative;
    left:-10px;
    margin-right: -10px;
    z-index: -1;
  }

  &:nth-of-type(1)
  {
    color: $colorA;
    border-color: $colorA;
    &+.dropdown
    {
      color: $colorA;
    }
  }

  &:nth-of-type(2)
  {
    color: $colorB;
    border-color: $colorB;
    &+.dropdown
    {
      color: $colorB;
    }
  }
}

.colorA
{
  color: $colorA;
}

.colorB
{
  color: $colorB;
}


#number
{
  font-weight: bold;
}

p.intro
{
  font-size: 16px;
  select
  {
    font-size: 16px;
  }
}
