<p class="match">
  Check out how Pennsylvania donors have given to multiple candidates with our tool below:
</p>

<div class="graphicWrapper">

  <h3 class="heading">Where They Overlap</h3>

  <p>
    In 2019, <span id="number">1908 Pennsylvanians</span> donated to both the

    <select id="candidate-a" class="main"><option>Loading...&nbsp;&nbsp;</option></select><span class="dropdown">&#9662;</span> and <select id="candidate-b" class="main"><option>Loading...&nbsp;&nbsp;</option></select><span class="dropdown">&#9662;</span>

    <select id="candidate-a-temp" class="temp"><option>Test</option></select>
    <select id="candidate-b-temp" class="temp"><option>Test</option></select>

    campaigns.

  </p>


  <figure id="diagram">
    <svg width="100%" height="100%"/>
  </figure>

  <div class="credits">
    <div class="source">SOURCE: Inquirer analysis of FEC data by JONATHAN LAI</div>
    <div></div>
    <div class="source credit">DAIN SAINT / STAFF</div>
  </div>

  <div id="description">
    <p>That's 20% of <span class="colorA">Candidate's</span> 10,000 donors and 20% of <span class="colorB">Candidate B's</span> 10,000 donors.</p>
  </div>


</div>
