<div class="graphicWrapper">


  <p class="intro">
    In 2019, <span id="number">1908 Pennsylvanians</span> donated to both the

    <select id="candidate-a" class="main"><option>Loading...&nbsp;&nbsp;</option></select><span class="dropdown">&#9662;</span>
    and
    <select id="candidate-b" class="main"><option>Loading...&nbsp;&nbsp;</option></select><span class="dropdown">&#9662;</span>

    <select id="candidate-a-temp" class="temp"><option>Test</option></select>
    <select id="candidate-b-temp" class="temp"><option>Test</option></select>

    campaigns.

  </p>


  <figure id="diagram">
    <svg width="100%" height="100%"/>
  </figure>
    <div class="credits">
      <div class="source">Source: Inquirer analysis of FEC data by JONATHAN LAI</div>
      <div></div>
      <div class="source credit">Credit: DAIN SAINT</div>
    </div>

  <div id="description">
  </div>



</div>
